@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");
html,
body,
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Manrope";
}

main {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: url("../images/bg-pattern.svg");
  background-repeat: no-repeat;
  z-index: -9;
}
main .mainSct {
  display: grid;
  place-items: center;
}

.head {
  margin: 4% 0;
  position: relative;
  z-index: 9;
}
.head h1 {
  font-size: 26px;
  font-weight: 800;
}
.head p {
  font-size: 14px;
  font-weight: 600;
}
.head h1,
.head p {
  text-align: center;
  padding: 6px 0;
  color: #293356;
}
.head img {
  position: absolute;
  width: 110px;
  top: -12%;
  left: 35%;
  right: 0;
  z-index: -1;
}

.card {
  background: #fff;
  box-shadow: 2px 12px 24px 2px rgba(133, 143, 173, 0.459);
  border-radius: 6px;
  padding: 30px 60px;
  width: 40%;
  height: 380px;
  overflow: hidden;
}
.card__part1 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 4% 0;
  padding-bottom: 30px;
}
.card__part1 .views {
  font-size: 16px;
}
.card__part1 p {
  color: #858fad;
  line-height: 44px;
}
.card__part1 h4,
.card__part1 .val,
.card__part1 .dollar {
  font-size: 26px;
  color: #293356;
}
.card__part1 span {
  font-weight: 100;
  font-size: 14px;
  color: #858fad;
  line-height: 44px;
}
.card__part2 input[type=range] {
  width: 100%;
}
.card__part2 .billing {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  margin-top: 4%;
  margin-left: 12%;
  padding-bottom: 10px;
}
.card__part2 .billing div p {
  font-size: 14px;
  color: #868c9c;
}
.card__part2 .billing div .discount {
  background: #feece7;
  color: #ff8c66;
  border-radius: 12px;
  padding: 2px 4px;
  font-size: 12px;
}
.card__part3 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 2.5% 0;
}
.card__part3 .list {
  display: flex;
  flex-flow: column wrap;
}
.card__part3 .list p {
  font-size: 12px;
}
.card__part3 button {
  width: 150px;
  background: #293356;
  border-radius: 22px;
  color: #eaeefb;
  padding: 12px 20px;
  outline: none;
  border: none;
  align-self: center;
  cursor: pointer;
}
.card__part3 button:hover {
  color: #fff;
}

hr {
  width: 100vw;
  transform: translateX(-100px);
}

@media only screen and (max-width: 1024px) {
  .head {
    margin: 8% 0;
  }

  .card {
    width: 90%;
    height: 400px;
  }
  .card__part2 .billing {
    gap: 20px;
    width: 100%;
  }
}
@media only screen and (max-width: 375px) {
  .head {
    margin: 10% 0;
  }
  .head h1 {
    padding: 6px;
    font-size: 22px;
  }
  .head p {
    width: 60%;
    margin: 0 auto;
  }

  .card {
    width: 90%;
    height: 530px;
    margin: 8% 0;
  }
  .card__part1, .card__part2, .card__part3 {
    flex-flow: column wrap;
    text-align: center;
  }
  .card .billing {
    width: 100%;
    justify-content: space-between;
    margin-top: 8%;
    margin-left: 0%;
    padding-bottom: 20px;
  }
  .card__part2 {
    padding-bottom: 20px;
  }
  .card__part3 {
    padding: 20px 0;
  }
  .card__part3 button {
    margin: 6% 0;
    width: 180px;
  }
}

/*# sourceMappingURL=styles.css.map */
